<!DOCTYPE html>
<html lang="en">
  <head>
{{>headerlinks}}
  </head>
  <body>
{{>navbar}}
    <!-- main-header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row justify-content-center">
                <!-- left-div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="img/about.png" alt="" class="img-fluid" title="Zack Dx">
                    </figure>
                    </div>
                    <!-- right-div -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to the Weather App</p>
                    <h1>I'm a<span class="text_clr"> Mern Stack Developer</span>, freelancer.</h1>
           <a href="/about"><button>About Me</button></a> 
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>
{{>footer}}
  </body>
</html>
